@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

:root {
    --text-color: #222;
    --parg_color: #465b52;
    --header_color: #E3E6F3;
    --header_link_color: #1a1a1a;
    --header_link_hover: #088178;
    --border_color: #cce7d0;
    --fe_color: #fddde4;
    --icon_color: rgb(243, 181, 25);
    --back_color: #041e42;
    --banner_color: #818ea0;
}

body.dark {
    --body-color: #18191A;
    --nav-color: #57662F;
    --side-nav: #8c8c2c;
    --search-bar: #242526;
    --text-color: white;
    --parg_color: #8c8c2c;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.4s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid white;
    outline: none;
    transition: 0.5s;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--text-color);
}

h2 {
    font-size: 45px;
    line-height: 55px;
    color: var(--text-color);
}

h4 {
    font-size: 20px;
    color: var(--text-color);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: var(--parg_color);
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    /* background-color: gray; */
}

/* product section */
#pro-details {
    display: flex;
    margin-top: 130px;
    padding-left: 100px;
    padding-right: 100px;
}

#pro-details .single-pro-img {
    width: 40%;
    margin-bottom: 50px;
}

#pro-details .single-pro-img img {
    border-radius: 24px;
}

#pro-details .single-pro-img img :hover {
    transform: scale(1.1);
}



#pro-details .small-img-col {
    flex-basis: 23%;
    cursor: pointer;
}

#pro-details .single-pro-details {
    width: 60%;
    padding-top: 30px;
    margin-left: 30px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
    font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;

}

#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;

}


#pro-details button {
    background-color: var(--parg_color);
    color: white;
}

#pro-details p {
    line-height: 25px;
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 10px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 12px;
    margin-bottom: 10px;
    color: #222;
    text-decoration: none;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #041e42;
    cursor: pointer;
    padding-right: 4px;
}

footer .follow i:hover {
    color: var(--header_link_hover);
}

footer .install .row img {
    border: 1px solid var(--header_link_hover);
    border-radius: 4px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width:700px) {
    #pro-details {
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-img {
        width: 100% !important;
        margin-bottom: 50px;
    }
}